@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  /* font-family: 'Varta', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f5f5f5 !important;
  position: relative;
}

#navbar {
  background-color: #f5f5f5;
  width: 100%;
}

.nav-link {
  color: #333 !important;
}

.nav-link:hover {
  color: #5e3fda !important;
}

.nav-item .active {
  color: #5538C8 !important;
}

.navbar-brand {
  color: #5538C8 !important;
}

.navbar-toggler {
  border: none !important;
}

/* .navbar-toggler-icon {
  color: #5538C8 !important;
} */

.navbar-toggler:focus {
  outline: none;
}

#nav-about-mobile {
  display: none;
}

#logo {
  font-weight: bold;
}

#logo-area {
  display: flex;
  align-items: center;
}

#area {
  font-size: 16px;
}

#showcase {
  /* background: url('../img/download.png') no-repeat center center/cover; */
  background: url('../img/download.png');
  /* height: 100vh; */

  /* Set a specific height */
  height: 500px;
  /* width: 100%; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;
}

#showcase-content {
  margin-left: 96px;
  padding-top: 60px;
  color: #fff;
}

#showcase-header {
  font-family: 'Poppins', sans-serif;;
  font-size: 70px;
  margin-bottom: 22px;
}

.showcase-subtitle {
  font-size: 20px;
}

#showcase-btn {
  background-color: #5538C8;
  color: #fff;
  border-radius: 50px;
  padding: 13px 40px;
  font-size: 20px;
  border: none;
  transition: .3s;
}

#showcase-btn:hover {
  background-color: #6246d3;
}

.about {
  margin-top: 160px;
  /* padding-left: 30px;
  padding-right: 30px; */
}

#about-header {
  /* font-size: 70px; */
  font-size: 50px;
  color: #5538C8;
  font-weight: bold;
  text-align: center;
  /* margin-left: 90px; */
  margin-bottom: 0;
}

#bg-header {
  font-size: 70px;
  color: #5538C8;
  font-weight: bold;
  text-align: center;
  margin-top: 170px;
}

#about-header-2 {
  font-size: 60px;
  color: #5538C8;
  font-weight: bold;
  /* margin-left: 90px; */
  text-align: center;
  margin-bottom: 0;
}

#about-content {
  background-color: #fff;
}

#kathy-pic {
  width: 90%;
  margin-top: 27px;
  margin-left: 55px;
  z-index: 9;
  position: relative;
  /* height: 80%; */
}

#about-text {
  font-size: 20px;
  padding: 60px 40px 30px 70px;
  margin: 0;
  color: #333;
}

#about-text-2 {
  font-size: 20px;
  padding: 40px;
  margin: 0;
  background-color: #fff;
  color: #333;
}

.container1 {
  display: flex;

}

.about-sm {
  display: none;
}

#kathy-pic-2 {
  height: 180px;
  float: left;
  display: block;
  margin-top: 5px;
  margin-right: 25px;
  margin-bottom: 25px;
}

#kathy-pic-3 {
  display: none;
  height: 450px;
}

.bgs-text {
  padding: 0 80px;
  font-weight: bold;
}

#about2 {
  display: none;
}

#bg-content {
  background-color: #fff;
  width: 85%;
}

.bg-box {
  padding-right: 90px;
  padding-left: 90px;
  margin-top: 90px;
  margin-bottom: 70px;
}

.box-border {
  border-right: 1px solid #979797;
}

.box-header {
  color: #5538C8;
  font-weight: bold;
}

.box-text {
  font-size: 18px;
  font-weight: bold;
}

.box-ul {
  list-style: square;
  padding: 0;
}

#rate-text {
  font-size: 14px;
}

#testimonials {
  background-color: #5538C8;
  color: #fff;
  height: 500px;
  display: flex;
  align-items: center;
  margin-top: 90px;
}

#t-header {
  font-size: 72px;
  font-weight: bold;
  padding: 120px 60px;
}

#t-content {
  font-size: 24px;
  /* padding: 136px 40px; */
  padding: 40px 20px;
}

#t-content-mobile {
  display: none;
  font-size: 24px;
  padding: 136px 40px;
}

.quote {
  margin-bottom: 45px;
  font-weight: 300;
}

#t-carousel-mobile {
  height: 330px;
}

#contact {
  background-color: #fff;
}

#contact-header {
  font-size: 40px;
  color: #5538C8;
  font-weight: bold;
  text-align: center;
  margin-top: 90px;
  padding: 50px 0;
}

#contact-content {
  padding-bottom: 32px;
}

.contact-icon {
  /* font-size: 38px; */
  font-size: 28px;
}

#linkedin-link {
  color: #212529;
}

@media screen and (max-width: 575px) { 
  .nav-item {
    text-align: center;
  }
  #nav-about {
    display: none;
  }
  #nav-about-mobile {
    display: initial;
  }
  #showcase {
    /* height: 100%; */
    height: 65vh;
    padding-bottom: 20px;
  }
  #showcase-content {
    margin-left: 0;
    padding-top: 34px;
    color: #f6f6f6;
    text-align: center;
  }
  #showcase-header {
    font-size: 35px;
  }
  #showcase-subtitle {
    font-size: 30px;
  }
  #about-header-2 {
    font-size: 60px;
    margin-left: 0;
    text-align: center;
  }
  #about-content-2 {
    /* margin-right: 34px; */
    /* margin-left: 34px; */
  }
  #about-text-2 {
    font-size: 26px;
    margin: 10px;
    padding: 20px;
  }
  #kathy-pic-2 {
    display: none;
  }
  #kathy-pic-3 {
    display: initial;
  }
  #bg-header {
    margin-top: 70px;
    margin-bottom: 16px;
    font-size: 48px;
  }
  .bg-box {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .box-border {
    border: none;
  }
  .box-text {
    font-size: 18px;
  }
  .box-ul {
    padding-left: 30px;
  }
  #testimonials {
    height: 630px;
    margin-top: 50px;
  }
  #t-header {
    font-size: 36px;
    /* padding: 40px 20px 0 20px; */
    padding: 0;
    text-align: center;
  }
  #t-content {
    display: none;
    /* padding: 20px 40px; */
  }
  #t-content-mobile {
    display: initial;
    /* margin: 300px; */
  }
  .quote {
    /* padding: 0px 30px; */
    /* padding: 30px 0px; */
    /* padding-right: 90px;
    padding-left: 90px; */
  }
  .contact-col {
    padding: 23px 0;
  }
}

@media screen and (max-width: 991px) { 
  #about {
    display: none;
  }
  #about2 {
    display: initial;
  }
  #about-text {
    padding: 0;
  }
}